@charset "utf-8";
/*初始化CSS样式*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Chrome all / Safari all /opera15+*/
}
body {
  font-family: SimHei,Arial;
  font-size: .24rem !important;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
a,
a:hover {
  color: #303030;
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
button {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0px none;
}
input,
a,
textarea {
  -webkit-tap-highlight-color: transparent;
}
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0px none;
  -webkit-appearance: none;
  -webkit-user-select: text;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
::-webkit-input-placeholder {
  color: #ddd;
}
img {
  border: none;
}
ol,
ul {
  list-style: none;
}
/*定义样式开始*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
/*定义样式结束*/
/*层级*/
.z1 {
  z-index: 10;
}
.z2 {
  z-index: 20;
}
.z3 {
  z-index: 30;
}
.z4 {
  z-index: 40;
}
.z5 {
  z-index: 50;
}
.z6 {
  z-index: 60;
}
.z7 {
  z-index: 70;
}
.z99 {
  z-index: 999;
}
/*层级*/
[v-cloak] {
  display: none;
}
